Flask==1.1.2
Flask==2.3.2
nanopq==0.1.11
nltk==3.6.1
nltk==3.8.1
numpy==1.24.1
numpy==1.15.1
numpy==1.20.1
numpy==1.23.5
numpy==1.24.3
Pillow==8.2.0
Pillow==10.0.0
Pillow==10.0.0
scikit_learn==0.24.1
scikit_learn==1.3.0
tensorflow==2.10.0
tensorflow==2.13.0
tensorflow_intel==2.13.0
