<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Image and Text Search Engine</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Image and Text Search Engine</h1>
            <div class="row">
                <div class="col-md-6">
                    <form method="POST" enctype="multipart/form-data" action="/">
                        <div class="form-group">
                            <label for="query_img">Select an image to search for:</label>
                            <input type="file" class="form-control" id="query_img" name="query_img">
                        </div>
                        <div class="form-group">
                            <label for="query_text">Contains text:</label>
                            <input type="text" class="form-control" id="query_text" name="query_text">
                        </div>
                        <div class="form-group">
                            <label for="query_size">Specify size (e.g. 500*375):</label>
                            <input type="text" class="form-control" id="query_size" name="query_size">
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <h2>Query:</h2>
                    {% if query_path %}
                    <img src="{{ query_path }}" class="img-responsive">
                    {% endif %}
                    {% if query_text %}
                    <p>Text query: {{ query_text }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Results:</h2>
                </div>
                {% for score in scores %}
                <div class="col-md-4">
                    <figure>
                        <img src="{{ score[1] }}" class="img-responsive">
                        <figcaption>{{ score[0] }}</figcaption>
                    </figure>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>