<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Image and Text Search Engine</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Image and Text Search Engine</h1>
            <div class="row">
                <div class="col-md-6">
                    <form method="POST" enctype="multipart/form-data" action="/">
                        <div class="form-group">
                            <label for="query_img">Select an image to search for:</label>
                            <input type="file" class="form-control" id="query_img" name="query_img">
                        </div>
                        <div class="form-group">
                            <label for="query_text">Contains text:</label>
                            <input type="text" class="form-control" id="query_text" name="query_text" disabled>
                        </div>
                        <div class="form-group">
                            <label for="query_size">Specify size (e.g. 500*375):</label>
                            <input type="text" class="form-control" id="query_size" name="query_size" disabled>
                        </div>
                         <div class="form-group">
                            <label for="search_type">Search by:</label>
                            <select class="form-control" id="search_type" name="search_type">
                                <option id="no filtering" value="no filtering">no filtering</option>
                                <option id="pre-query filtering" value="pre-query filtering">pre-query filtering</option>
                                <option id="post-query filtering" value="post-query filtering">post-query filtering</option>
                                <option id="concurrent filtering" value="concurrent filtering">concurrent filtering</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="database_size">Database size:</label>
                            <select class="form-control" id="database_size" name="database_size">
                                <option id="d100" value="100">100 images</option>
                                <option id="d500" value="500">500 images</option>
                                <option id="d2000" value="2000">2000 images</option>
                                <option id="d8091" value="8091">8091 images</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="num_results">Number of results wanted:</label>
                            <select class="form-control" id="num_results" name="num_results">
                                <option id="n10" value="10">10 images</option>
                                <option id="n20" value="20">20 images</option>
                                <option id="n50" value="50">50 images</option>
                                <option id="n100" value="100">100 images</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label id="search_time"></label>
                        </div>
                        <div class="form-group">
                            <label id="indexing_time"></label>
                        </div>
                        <button id="submit" type="submit" class="btn btn-primary" disabled>Search</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <h2>Query:</h2>
                    {% if query_path %}
                    <img src="{{ query_path }}" class="img-responsive">
                    {% endif %}
                    {% if query_text %}
                    <p>Text query: {{ query_text }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2 id="results">Results:</h2>
                </div>
                {% for score in scores %}
                <div class="col-md-4">
                    <figure>
                        <img src="{{ score[1] }}" class="img-responsive">
                        <figcaption>{{ score[0] }}</figcaption>
                    </figure>
                </div>
                {% endfor %}
            </div>
        </div>
        <script>
            var num_results = "{{ num_results }}";
            var results_label = document.getElementById("results");
            if(num_results == "0"){
                results_label.textContent = "No results found.";
            }else if(num_results == ""){
                results_label.textContent = "";
            }else{
                results_label.textContent = no_results + " results found.";
            }
            var img_input = document.getElementById("query_img");
            img_input.addEventListener("change", enable_search);
            function enable_search(){
                button = document.getElementById("submit");
                button.disabled = false
            }

            var search_time = "{{ search_time }}";
            var label1 = document.getElementById("search_time");
            label1.innerText = search_time;
            label1.style.color = "red";

            var indexing_time = "{{ indexing_time }}";
            var label2 = document.getElementById("indexing_time");
            label2.innerText = indexing_time;
            label2.style.color = "blue";

            var default_mode = "{{ default_mode }}";
            var default_option = document.getElementById(default_mode);
            default_option.selected = true;
            var default_database_size = document.getElementById("d"+"{{ default_database_size }}");
            default_database_size.selected = true;
            var default_num_results = document.getElementById("n"+"{{ default_num_results }}");
            default_num_results.selected = true;

            var select = document.getElementById("search_type");
            var input1 = document.getElementById("query_text");
            var input2 = document.getElementById("query_size");

            select.addEventListener("change", updateInputState);

            function updateInputState() {
                console.log("changed");
                if (select.value != "no filtering") {
                    input1.disabled = false;
                    input2.disabled = false;
                } else {
                    input1.disabled = true;
                    input2.disabled = true;
                }
            }

            if (default_option.value === "no filtering"){
                input1.disabled = true;
                input2.disabled = true;
            } else {
                input1.disabled = false;
                input2.disabled = false;
            }
        </script>
    </body>
</html>